body {
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Send Flowers", cursive;
  font-weight: 400;
  font-style: normal;
}

div {
  text-align: center;
}

h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

img {
  display: block;
  width: 40%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  img {
    width: 100%;
  }
}
